/.settings
/.buildpath
/.project
/.idea
/node_modules
/composer.phar
composer.lock
/build/logs/*
/vendor
/cov
/web/bundles
/web/css
/web/js
/web/logs
/web/uploads/users/*
/web/media/cache
/web/build.js
/app/config/parameters.yml
/app/config/parameters_test.yml
clean*
*~

/app/SymfonyRequirements.php
